{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password reset form{% endblock %}
{% block content %}

<div class="contaier">
	<div class="col-lg-8 offset-2">
	<div class="col-lg-8 offset-3 mt-3"><h1>Reset Your Password Link</h1></div>
		<form action="" method="post">
			{% csrf_token %}
			{% if form.email.errors %}
			{{ form.email.errors }}
			{% endif %}
			<p>{{ form.email|as_crispy_field }}</p> 
			<input type="submit" value="Reset password" />
		</form>
	</div>
</div>

{% endblock %}