{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  .post-body img {
    width: 100%;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-3 mb-2 offset-4">
      <h1>Goal Categories</h1>
    </div>
  </div>
</div>
<div class="container">
  <aside class="float-right">
    <div>
      <a href="{% url 'category-create' %}">Create New Category</a>
    </div>
  </aside>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-3">
      {% for category in categories %}
        <h2> Title: 
          <a href="{{ category.get_absolute_url }}">
            {{ category.title }} 
          </a>
        </h2>
      <p> Unique URL: {{ category.slug }} </p>
      <p> Entry: {{ category.description }} </p>
      <p> User: {{ category.author }} </p>
      <hr width="100%" color="black" noshade>
      <br>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}