{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3><a href="{% url 'journal-list' %}">Back to Journal Entries</a></h3>
      <p> Journal Title: {{ journal.title }} </p>
      <p> Unique Identifier: {{ journal.slug }} </p>
      <p> Entry Date: {{ journal.entry_date }} </p>
      <p> Entry: {{ journal.content|safe }} </p>
      <p> Author: {{ journal.author }} </p>

      <div>
        <a href="{% url 'journal-update' pk=journal.pk %}">Update</a>
        <a href="{% url 'journal-delete' pk=journal.pk %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock content %}