{% load static %}

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
          <img class="navbar-logo" src="{% static 'img/GoalsToSmashLogo.png' %}" width="24" height="24" alt="GoalsToSmashLogo">
            <small class="d-block mb-3 text-muted">© 2021</small>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
      </div>
    </div>
</footer>