{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  .post-body img {
    width: 100%;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-3 mb-2 offset-4">
      <h1>Goal Dashboard</h1>
    </div>
  </div>
</div>
<div class="container">
  <aside class="float-right">
    <div>
      <a href="{% url 'goal-create' %}">Create New Goal</a>
    </div>
  </aside>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-3">
      {% for goal in goals %}
        <h2> Title: 
          <a href="{{ goal.get_absolute_url }}">
            {{ goal.goal }} 
          </a>
        </h2>
      <p> Unique URL: {{ goal.url }} </p>
      <p> Category: {{ goal.category }} </p>
      <p> User: {{ goal.author }} </p>
      <hr width="100%" color="black" noshade>
      <br>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}